
<table>
  <tr *ngFor="let row of (block)">
    <td
      *ngFor="let column of (row)"
    >
      <app-box [item]="column"></app-box>
    </td>
  </tr>
</table>




<!--table>-->
<!--<tr *ngFor= "let row of (block);">-->
  <!--<td *ngFor= "let column of (row);"-->
      <!--class="cuadro"-->

  <!--&gt;-->
    <!--<app-box [item]= "column"-->
             <!--(onBoxClick)="onBoxCLick($event)"-->
    <!--&gt;-->

      <!--<div>-->
        <!--{{getValue(column)}}-->
        <!--{{getString(column)}}-->
      <!--</div>-->


    <!--</app-box>-->
  <!--</td>-->
<!--</tr>-->
<!--</table>-->
